/* CSS HEX */
/* --dark-spring-green: #137547ff;
--tiffany-blue: #73c1c6ff;
--jet: #333333ff;
--redwood: #b26e63ff;
--citron: #cec075ff; */

body {
    background-color: white;
}


#logo {
    width: 3.3em;
    height: 3.3em;
}


.playfair-display-heading {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b26e63ff;
}

li {
    float: left;
}

.playfair-display-nav {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: #333333ff;
}

li a {
    display: block;
    color: #333333ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #137547ff;
    color: white;
}

.active {
    background-color: #137547ff;
    color: white;
}

.active:hover {
    background-color: #b26e63ff;
    color: #333333ff;
}

li h3 {
    margin-left: 5em;
    margin-top: .3em;
}

#homepage {
    background-color: #b26e63ff;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    height: 40em;
    border: 5px solid #333333ff;
    border-radius: 25px;
}

#wording {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.playfair-display-design {
    font-family: "Playfair Display", serif;
    font-size: larger;
    font-weight: 400;
    font-style: normal;
    color: #333333ff;
    text-decoration: none;
}

#design-order {
    display: block;
    justify-content: space-around;
    margin-top: 3em;
    margin-left: 5em;
    width: 30em;
}

#design1 {
    display: flex;
    height: 25em;
    width: 30em;
    border: 3px solid #333333ff;
    border-radius: 25px;
}

#room {
    margin-top: 1em;
    margin-bottom: .5em;
    margin-left: 1em;
    margin-right: 1em;
    width: 15em;
    height: 18em;
    border-radius: 25px;
}

.playfair-display-number {
    font-family: "Playfair Display", serif;
    font-size: 100px;
    font-weight: 400;
    font-style: normal;
    color: #333333ff;
    text-decoration: none;
}

#titledi {
    display: flex;
    justify-content: start;
    margin-top: .3em;
    margin-left: .45em;

}

#benefits {
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 15em;
}

#box1 {
    border: 2px solid #333333ff;
    color: white;
    background-color: #137547ff;
    border-radius: 25px;
    width: 15em;
    height: 7em;
    padding: 10px 15px;
}

#gif {

    margin-left: auto;
    margin-right: auto;
}

#about-me {
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
    background-color: #333333ff;
    width: 75em;
    height: 50em;
    border-radius: 25px;
}

#room2 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    height: 20em;
    width: 25em;
    border-radius: 25px;
    transition: width, height 2s;
}

#room2:hover {
    width: 30em;
    height: 25em;
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    border: none;
    outline: none;
    padding: 14px 16px;
    background-color: #137547ff;
    color: white;

  }
  
  .dropdown-content {
    display: none;
    background-color: #b26e63ff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  #spin {
    transition: transform 2s;
  }

  #spin:hover {
    transform: rotate(360deg);
  }

  #table {
   display: block;
   justify-content: center;
   margin-bottom: 5em;
   margin-left: 31em;
  }

  .contact {
    margin-left: 1em;
    padding-left: 1em;
    border: 1px solid #333333ff;
    margin-bottom: 2em;
    width: 300px;
  }

  table, th, td {
    border: 2px solid #333333ff;
  }

  tr {
    background-color: #b26e63ff;
    color: white;
  }